* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 62.5%;
    line-height: 1.7;
    padding: 1rem; 
}

.header {
    height: 95vh;
    background-image:  linear-gradient(to right bottom, rgba(0, 31, 43, 0.7), rgba(25, 167, 143, 0.7)), url(../img/hogwarts.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    text-align: center;

}



.logo {
    height: 10rem;
    position: absolute;
    top: 6rem;
    left: 11.2rem; 
    animation: spawn 1s ease-in;
}

h1 {
    animation: moveright 1s ease-in;
}
.headtext {

    position: absolute;
    color: white;
    text-transform: uppercase;
    line-height: 1.7rem;
    margin-top: 1.1rem;
    top: 16.4rem; 
    left: 7.5rem; 
    text-align: center;

}

.headline {
    font-family: 'Quantico', sans-serif;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    margin-bottom: 1.1rem;
    font-weight: 700;
    display: block;
}

.support {
    font-family: 'Quantico', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .35rem;
    font-weight: 400;
}

.btn:link,
.btn:visited {
    display: inline-block;
    color: white;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 5rem;
    font-size: 1.3rem;
    background-image: linear-gradient(to right bottom, rgba(42, 145, 185, 0.7), rgba(17, 128, 109, 0.7));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: moveup 1s ease-in;
}

.btn:hover,
.btn:active {
    transform: scale(.95);
    transition: all 1s;
}

.btn1 {
    margin: 3rem 1rem 2rem 0; 
}

.btn2 {
    margin: 3rem 0 2rem 1rem;
}

@keyframes spawn {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes moveright {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveup {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}