* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 62.5%;
    line-height: 1.7;
}

.header {
    height: 95vh;
    background-image:  linear-gradient(to right bottom, rgba(0, 31, 43, 0.7), rgba(25, 167, 143, 0.7)), url(../img/hogwarts.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    align-items: center;
}

.logobox {
   
}

.logo {
    height: 10rem;
    position: absolute;
    top: 12%;
    left: 10%;
}

.headtext {
    position: absolute;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.7rem;
    top: 40%;
    left: 10%;



}